# CDN Configuration
NEXT_PUBLIC_CDN_BASE_URL=https://lcd-cdn.yeninesilkurs.tr
NEXT_PUBLIC_PLAYLIST_PATH=playlist.json

# Player Settings
NEXT_PUBLIC_DEFAULT_IMAGE_DURATION=15
NEXT_PUBLIC_PLAYLIST_RELOAD_INTERVAL=30000

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET_NAME=lcd-signage
